//  Alerts
//

.alert,
[class^="alert"],
[class*="alert"] {

  float: left;
  clear: both;
  width: 100%;
  padding: .75em 1em;
  margin-bottom: 1em;
  
  @mixin alert-theme($color) {
    background-color: $color;
    color: lighten($color,40%);
    font-size: 0.86em;
    // Paragraphs
    //
    p {
      color: lighten($color,40%);
    }
    // Links
    //
    a, 
    a:link, 
    a:active {
      color: lighten($color,30%);
      text-decoration: underline;
      transition: all 0.1s ease-in-out;
      // Hover
      //
      &:hover {
        color: #fff;
      }
    }
  }
  // Themes
  //
  &.alert-success {
    @include alert-theme($green)
  }
  &.alert-info {
    @include alert-theme($blue)
  }
  &.alert-warning {
    @include alert-theme($yellow)
  }
  &.alert-danger {
    @include alert-theme($red)
  }

  // Paragraph Text
  //
  p {
    // Last Child
    //
    &:last-child {
      margin-bottom: 0;
    }
  }
}