//  GMRUI
//  Skeleton
//

.con-fluid {
  width: 100%;
  @include container(100%);
}

.con {
  @include bp(xs) {
    @include container(100%);
  }
  @include bp(sm) {
    @include container(750px);
  }
  @include bp(md) {
    @include container(970px);
  }
  @include bp(lg) {
    @include container(1170px);
  }
}

.con-sm {
  @include bp(xs) {
    @include container(100%);
  }
  @include bp(sm) {
    @include container(750px);
  }
}

.row {
  float: left;
  width: 100%;
  @include clearfix;
}