//  GMR UI
//  Setup RZUI
//

@import "gmrui/globals";
@import "gmrui/config";
@import "gmrui/mixins";
@import "gmrui/fonts";
@import "gmrui/skeleton";
@import "gmrui/colors";
@import "gmrui/typography";
@import "gmrui/images";
@import "gmrui/media";
@import "gmrui/buttons";
@import "gmrui/buttongroup";
@import "gmrui/sections";
@import "gmrui/navbars";
@import "gmrui/navside";
@import "gmrui/breadcrumbs";
@import "gmrui/pagination";
@import "gmrui/forms";
@import "gmrui/switches";
@import "gmrui/alerts";

//  Widgets
//
@import "gmrui/widgets/widgets";
@import "gmrui/widgets/streams";
@import "gmrui/widgets/lists";