// Dependencies
//
@import 'normalize';
@import 'susy';
@import 'tuulkit';

body {
  font-family: Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  @include font-smoothing;
  background: #f1f1f1;
}