// Code & HighlightJS
//
code.hljs {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
  line-height: 1.5em;
  background: #fff;
  padding: 1em 1em 1em 1em;
  border-radius: 2px 2px;
  border:1px solid #ddd;
  box-sizing: border-box;

  &:after {
    display: block;
    float: left;
    width: calc(100% + 2em);
    margin: 1em -1em -1em -1em;
    content: "GMRUI - " attr(title);
    padding: 1em;
    background: #f7f7f7;
    border-radius: 0 0 2px 2px;
    border-top:1px solid #ddd;
    font-family: $theme-font;
    font-weight: bold;
    font-size: 12px;
    color: #666;
    line-height: 1.5em;
  }
}

pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  // Structure
  //
  &.structure {
    background: #f7f7f9;
    border: 1px solid #e1e1e8;
    padding: 15px;
    font-size: 13px;
    line-height: 1.4;
    border-radius: 5px;
    // Highlight
    //
    b {
      color: $red;
    }
  }
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #795da3;
}

.hljs-string,
.hljs-doctag {
  color: #183691;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag {
  color: #333;
  font-weight: normal;
}
.hljs-name,
.hljs-attribute {
  color: #63a35c;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}