// Footer
//
footer.section {
  float: left;
  clear: both;
  width: 100%;
  background: darken($theme,15%);
  color: #fff;
  padding: 50px 15px 15px;
  font-size: 16px;
  // Columns
  //
  .col {
    width: 100%;
    float: left;
    clear: both;
    text-align: center;
    // Brands
    //
    &.brands {
      margin-bottom: 25px;
    }
  }
  // Typography
  //
  h1, h2, h3, h4, p {
    color: lighten($theme,15%);
  }
  .heading {
    border-color: darken($theme,20%);
    padding-bottom: .5em;
    margin-bottom: 1em;
  }
  ul li {
    margin: initial;
    &:after {
      content: "\2013";
      margin-left: 8px;
      margin-right: 8px;
      color: lighten($theme,15%);
    }
    &:last-child:after {
      content: "";
      margin: 0;
    }
  }
  // Links
  //
  a {
    color: lighten($theme,25%);
    transition: all 0.2s ease-in-out;
    // Hover
    //
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
  // GamerGo Partners
  //
  a.mt,
  a.gmrgo,
  a.razer,
  a.ebuyer {
    display: inline-block;
    width: calc(300px / 2);
    height: calc(118px / 2);
    overflow: hidden;
    text-align: left;
    text-indent: -9999px;
    background: url("../img/mt-logo.png") 0 0 no-repeat;
    background-size: contain;
    opacity: 0.75;
    margin: 0;
    // Hover
    //
    &:hover {
      opacity: 1;
    }
  }
  // GMRGO
  //
  a.gmrgo {
    background: url("../img/gmrgo-logo.png") 0 0 no-repeat;
    background-size: contain;
  }
  // Razer
  //
  a.razer {
    background: url("../img/razerone-logo.png") 0 0 no-repeat;
    background-size: contain;
  }
  // Ebuyer
  //
  a.ebuyer {
    background: url("../img/ebuyer-logo.png") 0 0 no-repeat;
    background-size: contain;
  }
}