// Aside
//
.docs-aside {
  @include span(12 of 12);

  // Responsive
  //
  @include bp(md){
    @include span(3 of 12);
  }
}

// Document Containment
//
.doc {
  @include span(12 of 12);
  background: #fff;
  padding: 32px 20px;

  // Responsive
  //
  @include bp(md){
    @include span(9 of 12 last);
  }
}

// Grid Demo
//
.doc-example {
  .col {
    background: #fafafa;
    border: 1px solid #eee;
    padding: 2rem;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    color: $red;
    font-family: "Monoco", courier, monotype;

    &.demo1 {
      @include span(6 of 12);
      &:nth-child(2n+2){
        @include span(6 of 12 last);
      }
    }

    &.demo2 {
      @include span(4 of 12);
      &:nth-child(3n+3){
        @include span(4 of 12 last);
      }
    }

    &.demo3 {
      @include span(3 of 12);
      &:nth-child(4n+4){
        @include span(3 of 12 last);
      }
    }

    &.demo4 {
      @include span(2 of 12);
      &:nth-child(6n+6){
        @include span(2 of 12 last);
      }
    }
  }
}