// Name
//
a.name span {
  display: inline-block;
  float: left;
  width: 70px;
  height: 30px;
  text-indent: -9999px;
  overflow: hidden;
  background: url(../img/logo.png) 0 0 no-repeat;
  background-size: cover;
}

// Nav Bar
//
.nav-wrapper,
.nav-bar {
  background: $theme;

  .github {
    margin: 2px 5px;
  }

  .name {
    margin-top: -4px;
  }

  .fa-github-alt {
    display: inline;
    @include bp(md){
      display: none;
    }
  }

  .hideme {
    display: none;
    @include bp(md){
      display: inline;
    }
  }
}

