// Sections
// 

.section {
  float: left;
  clear: both;
  width: 100%;
  position: relative;
  padding: 100px 0;
  background: $primary;
  font-family: $heading-font;
  font-size: 16px;
  @include bp(sm){
    font-size: 18px;
  }

  &.nav-wrapper {
    padding: 0;
  }

  // Left Align
  // 
  &.left {
    text-align: left;
  }

  // Status
  // 
  &.status,
  &.padding-less {
    padding: 50px 0;
    &.no-padding-top {
      padding-top: 0;
    }
  }

  // Heading
  // 
  @mixin heading($heading-bg,$heading-precolor,$heading-color) {
    div.heading {
      display: inline-block;
      position: relative;
      clear: both;
      width: auto;
      min-width: 300px;
      margin: 0 auto;
      border-top: 1px solid lighten($heading-bg,5%);
      padding-top: calc(11px + 1rem);
      text-align: center;
      margin-bottom: 2rem;
      // Prehead
      // 
      .prehead {
        float: left;
        clear: both;
        width: 100%;
        display: block;
        position: absolute;
        top: -14px;
        text-align: center;
        font-family: $heading-font;
        font-weight: 600;
        font-size: 14px;
        line-height: 1;
        color: $heading-precolor;
        text-transform: uppercase;
        // Text Block
        // 
        b {
          display: inline-block;
          background: $heading-bg;
          padding: 5px 10px;
        }
        @include bp(sm){
          font-size: 16px;
        }
        // Heart Icon
        // 
        i.fa-heart {
          position: relative;
        }
      }
      // Heading
      // 
      h1,h2,h3 {
        color: $heading-color;
        font-size: 22px;
        @include bp(sm){
          font-size: 30px;
        }
        @include bp(md){
          font-size: 36px;
        }
      }
    }
    // Horizontal Rule
    // 
    hr {
      border-color: lighten($heading-bg,5%);
    }
  }

  // Features
  // 
  .features {
    float: left;
    clear: both;
    width: 100%;
    // Feature
    // 
    .feature {
      margin-bottom: 2rem;
      min-height: 150px;
      padding: 0 .5rem;
      @include span(6 of 12);
      &:nth-child(2n+2) {
        @include span(6 of 12 last);
      }
      &:nth-child(2n+3){
        clear: both;
      }
      @include bp(md){
        @include span(4 of 12);
        &:nth-child(2n+2),
        &:nth-child(2n+3) {
          clear: none;
          @include span(4 of 12);
        }
        &:nth-child(3n+3){
          @include span(4 of 12 last);
        }
        &:nth-child(3n+4){
          clear: both;
        }
      }
      // Icon
      // 
      i.fa {
        font-size: 32px;
        margin-bottom: 1rem;
      }
      // Heading
      // 
      h3 {
        font-family: inherit;
        font-weight: 600;
        font-style: normal;
        font-size: 12px;
        text-transform: uppercase;
        margin-bottom: 1rem;
        color: #fff;
      }
    }
  }
  
  // Typography
  // 
  @mixin typography($pcolor,$feature-hcolor){
    color: $pcolor;
    font-family: $default-text;
    p,ul,ol,li,cite,blockquote {
      color: inherit;
      font-family: inherit;
    }
    // Features
    // 
    .features .feature h3 {
      color: $feature-hcolor;
    }
  }

  // Default Heading
  // 
  @include heading($primary,lighten($primary,25%),lighten($primary,30%));
  @include typography($dark-text,#fff);
  
  // Dark
  // 
  &.dark {
    background: $night;
    @include heading($night,$theme-light,lighten($night,20%));
    @include typography($dark-text,$theme-light);
  }

  // Light
  // 
  &.light {
    background: #f8f8f8;
    @include heading($dark,$theme-light,lighten($dark,20%));
    @include typography($dark-text,$theme-light);
    font-size: 16px;
    h1,h2,h3,h4 {
      font-weight: 700;
      color: $theme;
    }
    p {
      line-height: 1.65em;
      margin-bottom: 1rem;
    }
  }

  // Content
  // 
  .content {
    float: left;
    width: 100%;
    clear: both;

    > .editorial {
      @include span(12 of 12);
      @include bp(sm){
        @include span(6 of 12);
      }
      text-align: left;

      // Editorial ULs
      // 
      ul li {
        list-style-type: none;
        position: relative;
        margin-left: 25px;
        margin-bottom: 10px;
        // Dot
        // 
        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 10px;
          left: -19px;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: $theme-light;
        }
      }
    }

    > .text-block {
      @include span(12 of 12);
      @include bp(sm){
        @include span(8 of 12);
        @include push(2 of 12);
      }
    }
  }
}