// Sidenav
//

#sidemenu {
  display: none;

  // Visible
  //
  &.visible {
    display: block;
  }
  
  // Responsive
  //
  @include bp(md){
    display: block;
  }
}

// Mobile Nav Button
//

a.nav-ctrl {
  float: right;
  background: $theme;
  padding: 10px 15px;
  color: #fff;

  &:active,
  &:link,
  &:focus {
    color: #fff;
  }

  // Responsive
  //
  @include bp(md){
    display: none;
  }

}

// Sidebar Ads
//
div#treehouse-widget {
  display: none !important;
  visibility: hidden !important;
  position: relative !important;
  border: none !important;
  float: left;
  max-width: 100%;
  width: auto;
  height: auto;
  margin-top: 20px;

  @include bp(md){
    display: block !important;
    visibility: visible !important;
  }

  a {
    display: block;

    img {
      max-width: 100%;
      width: auto;
      height: auto;
    }
  }
}