// Typography
//
p.doc-helper {
  margin: 1em 0 .25em;
  text-transform: uppercase;
}

p.lead {
  font-weight: 500;
}

// Doc Navs
//
.doc .nav-bar {
  margin-bottom: 1em;
}

// Doc Helper
//
.doc-example {
  float: left;
  clear: both;
  width: 100%;
  margin-bottom: 15px;
  // Cols
  //
  &.span-6 {
    @include span(6 of 12);
    &:nth-child(2n+2) {
      @include span(6 of 12 last);
      clear: none;
    }
  }
}