# Ignore Extensions
*.diff
*.err
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
*.zip
*~
*.map

# Ignore OS Specific Files
._*
.cache
.DS_Store
.project
.settings
Thumbs.db

# Ignore CodeKit & Sass Caches
.sass-cache
/scss/.sass-cache/*
!/scss/.sass-cache/*
config.codekit

# Ignore CSS Output
/css/*

# SCSS-Lint
scss-lint-report.xml

# Folders to ignore
bower_components
node_modules