//  GMRUI
//  Buttons
//

a.btn,
.btn,
input[type="submit"],
button {
  display: inline-block;
  margin-bottom: 5px;
  font-family: $heading-font;
  font-weight: 700;
  font-size: .86em;
  text-decoration: none;
  text-transform: initial;
  line-height: .86em;
  @include font-smoothing;
  border: none;
  outline: none;
  padding: 0.65em 1em;
  color: #fff;
  transition: all 0.2s ease-in-out;

  // Square
  //
  &.btn-sq {
    padding: 1em;
  }
  
  // Hover
  //
  &:hover {
    text-decoration: none; // Removes <a> text decorations
  }

  // Large
  //
  &.btn-lg {
    font-size: 1em;
    padding: 1em 1.65em;
    // Square
    //
    &.btn-sq {
      padding: 1.4em;
    }
  }
  
  // Small
  //
  &.btn-sm {
    font-size: .85em;
    padding: .5em 1em;
    // Square
    //
    &.btn-sq {
      padding: .55em;
    }
  }
  
  // Extra Small
  //
  &.btn-xs {
    font-size: .65em;
    padding: .55em .75em;
    // Square
    //
    &.btn-sq {
      padding: .55em;
    }
  }

  // Button Toggle
  //
  &.dropdown-toggle {
    margin-bottom: 0;
  }

  // Theme Mixin
  //
  @mixin btn($btncolor){
    box-shadow: inset 0 -2px 0 rgba(black,0.25);
    background: $btncolor;
    &:hover {
      background: darken($btncolor,5%);
    }
  }
  
  // ThemeColors
  //
  &.btn         { @include btn($theme)}
  &.btn-default { @include btn($theme)}
  &.btn-primary { @include btn($theme)}
  &.btn-success { @include btn($green)}
  &.btn-info    { @include btn($blue)}
  &.btn-danger  { @include btn($red)}
  &.btn-warning { @include btn($yellow)}

  // Social Colors
  //
  $facebook:    #3c689f; // facebook
  $twitter:     #3b89b1; // twitter
  $vimeo:       #3580c5; // vimeo
  $skype:       #369cc6; // skype
  $youtube:     #d14747; // youtube
  $steam:       #444444; // steam
  $linkedin:    #558ec9; // linkedin
  $twitch:      #6441a5; // twitch

  &.btn-facebook   { @include btn($facebook)}
  &.btn-twitter    { @include btn($twitter)}
  &.btn-vimeo      { @include btn($vimeo)}
  &.btn-skype      { @include btn($skype)}
  &.btn-youtube    { @include btn($youtube)}
  &.btn-steam      { @include btn($steam)}
  &.btn-linkedin   { @include btn($linkedin)}
  &.btn-twitch     { @include btn($twitch)}

  // Glass Mixin
  //
  @mixin btn-glass($btncolor){
    box-shadow: inset 0 0 0 2px $btncolor;
    background: rgba($btncolor,.2);
    &:hover {
      background: rgba($btncolor,.5);
    }
  }

  // Glass Button
  //
  &.btn-glass {
    @include btn-glass(#fff);
    // Themes
    //
    &.btn-primary { @include btn-glass($theme)}
    &.btn-success { @include btn-glass($green)}
    &.btn-info    { @include btn-glass($blue)}
    &.btn-danger  { @include btn-glass($red)}
    &.btn-warning { @include btn-glass($yellow)}
  }
}