//  GMRUI
//  Config
//

//  Susy Setup
$susy:(
  columns: 12,
  global-box-sizing: border-box
);

// Fonts
// 

$heading-font : "Roboto Condensed", sans-serif;
$theme-font   : "-apple-system", "BlinkMacSystemFont", "San Francisco", "Roboto", Segoe UI, Helvetica Neue, sans-serif;

// Theme Colors
// 
$theme:    #533687;

// Colors
//
$orange:  #e27c3f;
$green:   #1d9d74;
$blue:    #4693e2;
$red:     #cb3837;
$yellow:  #f0a630;
$night:   #212335;